
body {
	font-size: 50px;
	line-height: 1.3;
	font-family: Helvetica, Arial, sans-serif;
}

a {
  background-color: powderblue;
  transition: background-color .5s;
}

a:hover {
  background-color: gold;
}

.d1{background:LightSkyBlue;}
.d2{background:LightSalmon;}
.d3{background:PaleTurquoise;}
.d4{background:LightPink;}
.d5{background:PaleGreen;}

.container {
    font-size: 40px;
    width: 100%;
    background: LightGray;
    display: grid;
}

img {
  max-width: 600px;
}

.container-second {
  font-size: 40px;
  width: 100%;
  background: LightGray;
  display: grid;
  grid-template-columns: 100px 100px 100px;
}

.container-third {
  font-size: 40px;
  width: 100%;
  background: LightGray;
  display: grid;
  grid-template-columns: 1fr 100px 2fr;
  grid-template-rows: 50px 50px;
}

.container-fourth {
  font-size: 40px;
  height: 100vh;
  width: 100%;
  background: LightGray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

@media (max-width: 500px) {
  .container-fourth {
    font-size: 40px;
    height: 100vh;
    width: 100%;
    background: LightGray;
    display: flex;
    flex-direction: column;
  }
}

.grid-text {
  font-family: 'Smooch Sans', sans-serif;
}

.hello {
  font-family: 'Archivo Black', sans-serif;
}

.container-fifth {
  font-size: 40px;
  width: 100%;
  background: LightGray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

/* @media (max-width: 500px) {
  .container-fifth {
    font-size: 40px;
    height: 100vh;
    width: 100%;
    background: LightGray;
    display: flex;
    flex-direction: column;
  }
} */

.container-fifth p {
  font-size: 16px;
}

.container-fifth h3 {
  font-size: 100px;
}

.container-fifth img {
  width: 100%;
}
/* I guess I could use some sort of functional solution for this */
/* so many mistakes !  */




.container-sixth {
  font-size: 40px;
  width: 100%;
  background:blueviolet;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.i1 {
  grid-column: 1 / 3
}

.i3 {
  grid-column: 2 / 4
}

.container-sixth code {
  font-size: 24px;
}

.container-sixth img {
  width: 100%;
}


.yet-another-grid {
  font-size: 40px;
  width: 100%;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.module1 {}
.module2 {}
.module3 {}
.module4 {}
.module5 {}
.module6 {}