
body {
	font-size: 50px;
	line-height: 1.3;
	font-family: Helvetica, Arial, sans-serif;
}

a {
  background-color: powderblue;
  transition: background-color .5s;
}

a:hover {
  background-color: gold;
}

.d1{background:LightSkyBlue;}
.d2{background:LightSalmon;}
.d3{background:PaleTurquoise;}
.d4{background:LightPink;}
.d5{background:PaleGreen;}

.container {
    font-size: 40px;
    width: 100%;
    background: LightGray;
}

img {
  max-width: 600px;
}

.d11{background:LightSkyBlue;}
.d22{background:LightSalmon;}
.d33{background:PaleTurquoise;}
.d44{background:LightPink;}
.d55{background:PaleGreen;}
